html {
  background-color: #eae2b7;
}

header h1 {
  font-family: 'Ysabeau', sans-serif;
  color:#f77f00;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Castoro Titling', cursive;}

  header nav{
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
    border-spacing: 10px;
  }

  header nav a{
    text-decoration:none;
    color: #d62828;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 20px;
  }

  h2 {
    font-family: 'Ysabeau', sans-serif;
    color: #006d77;
    font-size: 20px;
  }

  h3 {
    font-family: 'Ysabeau', sans-serif;
    color: #d62828;
    font-size: 15px;
    text-align: right;
    background-color: #fcbf49;
  }

  footer .redes{
    text-align: center;
    color: #006d77;
  }

  footer p{
    text-align: center;
  }

  footer {
    background-color:#fcbf49;
  }